$esmaecido: #bdc3c7;
$principal-fundo: #00695C; // Um verde escuro/teal, mais sóbrio e elegante
$principal-texto: #fdf6e3; // Um tom de creme/bege claro, que é mais quente que o branco puro
$aviso-fundo: #fdedec;
$aviso-texto: #c0392b;