<div class="container">
    <h2>Gerenciamento de Autores</h2>

    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome do Autor</th>
                <th style="text-align: center;">Ações</th>
            </tr>
        </thead>
        <tbody>
            @for (author of authors; track author.id) {
            <tr>
                <td>{{ author.id }}</td>
                <td><strong>{{ author.name }}</strong></td>
                <td style="text-align: center;">
                    <button class="btn-edit" (click)="edit(author)">Editar</button>
                    <button class="btn-delete" (click)="delete(author.id)">Excluir</button>
                </td>
            </tr>
            } @empty {
            <tr>
                <td colspan="3" style="text-align: center;">Nenhum autor cadastrado ainda.</td>
            </tr>
            }
        </tbody>
        <footer>
            <tr>
                <td colspan="3"><button (click)="loadAuthors()">Refresh</button></td>
            </tr>
        </footer>
    </table>
</div>